* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 4px;
}

.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.espacamento-container {
  margin-top: 50px;
}

/* --------media--------- */

@media (max-width: 800px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
